@use '../../variables.scss' as *;
@use '../../mixins/mixin.scss' as *;

.daily-weather {
    padding: rem(40) 0;

    &__wrapper {
        max-width: rem(450);
        margin: 0 auto;

    }

    &__title {
        font-size: rem(20);
        font-weight: 500;
        @include adaptive-value("padding-bottom", 25, 15, 1);

    }

    &__info {
        flex-direction: column;

        img {
            width: rem(50);
            height: rem(50);

        }

    }
        
    &__card {
        justify-content: space-between;
        background-color: var(--bg-item);;
        border-radius: rem(15);
        margin-bottom: rem(15);
        align-items: center;    
        font-size: rem(16);

        &-item {
            padding: 0 rem(20);

            .min-temp {
                color: azure;
                padding-left: rem(10);
                font-size: rem(14);

            }

        }

        &-date {
            @include adaptive-value("font-size", 16, 14, 1);

        }

    }

}

